/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color:  hsl(218.08,81%,59%);
  --black-color: hsl(248, 24%, 10%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(248, 100%, 99%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --small-font-size: .813rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box !important;
  padding: 0 ;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-inline: 6rem 1rem;
  padding-block: 2rem;
}

/*=============== SIDEBAR ===============*/
.nav {
  width: 72px;
  height: max-content;
  position: fixed;
  z-index: 100;
  inset: 0;
  margin: auto 0;
}

.nav__list {
  position: relative;
  background-color: var(--first-color);
  padding-block: 70px;
  border-radius: 0 51px 51px 0;
  display: grid;
  justify-content: center;
  row-gap: 2rem;
}

.nav__link {
  position: relative;
  display: inline-flex;
  padding: 4px;
  border-radius: 50%;
  transition: background .4s;
}

.nav__link i {
  font-size: 1.25rem;
  color: var(--white-color);
  transition: color .4s;
}

.nav__name {
  position: absolute;
  top: 0;
  transform: translateX(56px);
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 3rem;
  pointer-events: none;
  transition: transform .5s, opacity .5s;
  opacity: 0;
  z-index: 100;
}

.nav__link:hover .nav__name {
  opacity: 1;
  transform: translateX(48px);
}

/* Shapes */
.nav__circle-1, 
.nav__circle-2 {
  width: 80px;
  height: 80px;
  background-color: var(--body-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.nav__circle-1 {
  top: -78px;
}

.nav__circle-2 {
  bottom: -78px;
}

.nav__square-1, 
.nav__square-2 {
  width: 35px;
  height: 40px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav__square-1 {
  top: -39px;
}

.nav__square-2 {
  bottom: -39px;
}

/* Active link */
.active-link {
  background-color: var(--white-color);
}

.active-link i {
  color: var(--first-color);
}

/*=============== CHARTS ===============*/

#animations-example-6 {
  height: 200px;
  max-width: 350px;
  margin: 0 auto;
}
#animations-example-6 td {
  background-image: linear-gradient(
    45deg,
    #4481EB,
    rgb(36, 119, 243),
    hsl(228, 46%, 48%),
    rgb(103, 158, 240),
    #316ace,
    #487dd8
  );
  background-size: 600%;
  animation: gradient-animation 3s linear infinite alternate;
}
@keyframes gradient-animation {
  0%   { background-position:   0%; }
  100% { background-position: 100%; }
}



#bar-example-17 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}

#area-example-6 {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
}


#line-example-11 {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f6f6f6;
}
