<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4285f4">
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./../img/favicon.png" type="image/x-icon">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./../css/admin.css">
    <link rel="stylesheet" href="./../css/resources.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>GHARA | Charts</title>
</head>

<body>
    <!-- Sidebar -->
    <nav class="nav">
        <ul class="nav__list">
            <a href="./adminDashboard.html" class="nav__link">
                <i class="ri-dashboard-3-line"></i>
                <span class="nav__name">Dashboard</span>
            </a>

            <a href="./adminForms.html" class="nav__link">
                <i class="ri-keyboard-box-line"></i>
                <span class="nav__name">Forms</span>
            </a>

            <a href="#" class="nav__link active-link">
                <i class="ri-pie-chart-2-line"></i>
                <span class="nav__name">Gráficos</span>
            </a>

            <a href="./adminNotifications.html" class="nav__link">
                <i class="ri-slideshow-line"></i>
                <span class="nav__name">Notificaciones</span>
            </a>


        </ul>

        <!-- Shapes -->
        <div class="nav__circle-1"></div>
        <div class="nav__circle-2"></div>

        <div class="nav__square-1"></div>
        <div class="nav__square-2"></div>
    </nav>

    <main>
        <section id="resources">
            <h2>Gráficos</h2>
        
            <table style="margin-bottom: 100px;" id="animations-example-6" class="charts-css column show-labels hide-data data-spacing-5 show-primary-axis show-heading">
                <caption> Columnas </caption>
                <thead>
                  <tr>
                    <th scope="col"> Año </th>
                    <th scope="col"> Progreso </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> 2016 </th>
                    <td style="--size:0.2;"><span class="data"> 20 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2017 </th>
                    <td style="--size:0.4;"><span class="data"> 40 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2018 </th>
                    <td style="--size:1;"><span class="data"> 100 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2019 </th>
                    <td style="--size:0.5;"><span class="data"> 50 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2020 </th>
                    <td style="--size:0.3;"><span class="data"> 30 </span></td>
                  </tr>
                </tbody>
              </table>
              <table style="margin-bottom: 100px;" id="bar-example-17" class="charts-css bar show-labels show-primary-axis show-data-axes data-spacing-10 show-heading">
                <caption> Barras </caption>
                <thead>
                  <tr>
                    <th scope="col"> Año </th>
                    <th scope="col"> Progreso </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> 2016 </th>
                    <td style="--size:0.2;"></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2017 </th>
                    <td style="--size:0.4;"></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2018 </th>
                    <td style="--size:0.6;"></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2019 </th>
                    <td style="--size:0.8;"></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2020 </th>
                    <td style="--size:1;"></td>
                  </tr>
                </tbody>
              </table>

              <table style="margin-bottom: 100px;"  id="area-example-6" class="charts-css area multiple hide-data show-labels show-heading">
                <caption> Area </caption>
                <thead>
                  <tr>
                    <th scope="col"> Año </th>
                    <th scope="col"> Progreso 1 </th>
                    <th scope="col"> Progreso 2 </th>
                    <th scope="col"> Progreso 3 </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> 2000 </th>
                    <td style="--start:0.1; --size:0.5;"><span class="data"> 50 </span></td>
                    <td style="--start:0; --size:0.2;"><span class="data"> 20 </span></td>
                    <td style="--start:0.2; --size:0.4;"><span class="data"> 40 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2010 </th>
                    <td style="--start:0.5; --size:0.8;"><span class="data"> 80 </span></td>
                    <td style="--start:0.2; --size:0.5;"><span class="data"> 50 </span></td>
                    <td style="--start:0.4; --size:0.1;"><span class="data"> 10 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2020 </th>
                    <td style="--start:0.8; --size:0.4;"><span class="data"> 40 </span></td>
                    <td style="--start:0.5; --size:0.3;"><span class="data"> 30 </span></td>
                    <td style="--start:0.1; --size:0.2;"><span class="data"> 20 </span></td>
                  </tr>
                </tbody>
              </table>

              <table id="line-example-11" class="charts-css line multiple hide-data show-labels show-primary-axis show-heading">
                <caption> Línea </caption>
                <thead>
                  <tr>
                    <th scope="col"> Año </th>
                    <th scope="col"> Progreso 1 </th>
                    <th scope="col"> Progreso 2 </th>
                    <th scope="col"> Progreso 3 </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> 2000 </th>
                    <td style="--start:0.1; --size:0.5;"><span class="data"> 50 </span></td>
                    <td style="--start:0; --size:0.2;"><span class="data"> 20 </span></td>
                    <td style="--start:0.2; --size:0.4;"><span class="data"> 40 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2010 </th>
                    <td style="--start:0.5; --size:0.8;"><span class="data"> 80 </span></td>
                    <td style="--start:0.2; --size:0.5;"><span class="data"> 50 </span></td>
                    <td style="--start:0.4; --size:0.1;"><span class="data"> 10 </span></td>
                  </tr>
                  <tr>
                    <th scope="row"> 2020 </th>
                    <td style="--start:0.8; --size:0.4;"><span class="data"> 40 </span></td>
                    <td style="--start:0.5; --size:0.3;"><span class="data"> 30 </span></td>
                    <td style="--start:0.1; --size:0.2;"><span class="data"> 20 </span></td>
                  </tr>
                </tbody>
              </table>


        </section>
        
    </main>

    <!--=============== MAIN JS ===============-->
    <script src="./../js/adminMain.js"></script>
    <!-- JavaScript Bundle with Popper -->
</body>

</html>