<!DOCTYPE html>
<html lang="es">

<head>
    <!--=============== META ===============-->
    <meta name="theme-color" content="#4285f4">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./../img/favicon.png" type="image/x-icon">
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./../css/error.css">

    <title>GHARA | Error 500</title>
</head>

<body>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home">
            <div class="home__container container">
                <div class="home__data">
                    <span class="home__subtitle">Error interno</span>
                    <h1 class="home__title">Oops :(</h1>
                    <p class="home__description">
                        Parece que ha ocurrido un problema inesperado <br> puedes regresar a la página principal mientras lo resolvemos.
                    </p>
                    <a href="./../index.html" class="home__button">
                        Regresar al inicio
                    </a>
                </div>

                <div class="home__img">
                    <img src="./../img/500.svg" alt="">
                    <div class="home__shadow"></div>
                </div>
            </div>


        </section>
    </main>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="./../js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="./../js/error.js"></script>
</body>

</html>