<!DOCTYPE html>
<html lang="en">

<head>
    <!--=============== META ===============-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4285f4">
    <title>GHARA | Recibidos (12)</title>
    <link rel="shortcut icon" href="./../img/favicon.png" type="image/x-icon">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./../css/mail.css">
    <!--=============== FONTAWESOME ===============-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="font awsome icon/css/all.css">
</head>

<body>
    <!--=============== HEADER ===============-->

    <div class="header">
        <div class="header-left">
            <i class="fas fa-bars" onclick="sidebar()"></i>
            <h2>GHARA</h2>
        </div>

        <div class="header-mid">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar Correo">
            <i class="fas fa-sort-down"></i>
        </div>

        <div class="header-right">
            <i class="fas fa-cog" title="Ajustes"></i>
            <i class="fas fa-user-circle" title="Usuario"></i>
        </div>

    </div>
    <!--=============== HEADER ===============-->

    <!--=============== MAIN BODY ===============-->

    <div class="main-body">

        <div class="show-sidebar" id="sidebarGmaill">
            <center>
                <button style="justify-content: center;" class="sidebar-compose"><i class="fas fa-plus"></i>
                    Redactar</button>

            </center>
            <div class="sidebar-menu sidebar-active">
                <i class="fas fa-inbox"></i>
                <h3>Recibidos</h3>
            </div>

            <div class="sidebar-menu">
                <i class="fas fa-clock"></i>
                <h3>Pospuestos</h3>
            </div>

            <div class="sidebar-menu">
                <i class="fas fa-paper-plane"></i>
                <h3>Enviados</h3>
            </div>

            <div class="sidebar-menu">
                <i class="fas fa-star"></i>
                <h3>Destacados</h3>
            </div>

            <div class="sidebar-menu">
                <i class="fas fa-sticky-note"></i>
                <h3>Borradores</h3>
            </div>
        </div>

        <!--=============== EMAIL LIST ===============-->

        <div class="email-list">
            <div class="emaillist-setting">
                <div class="emaillist-settingLeft">
                    <input type="checkbox" name="" id="">
                    <i class="fas fa-caret-down" title="Seleccionar"></i>
                    <i class="fas fa-redo" title="Actualizar"></i>
                    <i class="fas fa-ellipsis-v" title="Más opciones"></i>
                </div>


                <div class="emaillist-settingLeft">
                    <i class="fas fa-chevron-left" title="Regresar"></i>
                    <i class="fas fa-chevron-right" title="Siguiente"></i>
                </div>


            </div>


            <div class="email-list-section">

                <div class="section-selected ">
                    <i class="fas fa-inbox "></i>
                    <h4>Principal</h4>
                </div>

                <div class="section ">
                    <i class="fas fa-user-friends"></i>
                    <h4> Social</h4>
                </div>

                <div class="section ">
                    <i class="fas fa-tag"></i>
                    <h4> Promoción</h4>
                </div>

            </div>


            <div class="emailList-list">

                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>

                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>

                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>

                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>

                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>


                <div class="emailRow">
                    <div class="emailRow-opt">
                        <input type="checkbox">
                        <i style="color: #FFBD33;" class="fas fa-star"></i>

                    </div>
                    <h3 class="emailRow-title">GHARA</h3>
                    <div class="emailRow-msg">
                        <h4>Bienvenido a GHARA <span class="emailRow-desc">-Bienvenido a tu bandeja de entrada</span>
                        </h4>
                    </div>
                    <p class="emailRow-time">12:00 pm</p>
                </div>



            </div>


        </div>
  <!--=============== EMAIL LIST ===============-->

    </div>
    <img class="ft" src="./../img/wave.svg" alt="">
  <!--=============== MAIN BODY ===============-->

    <!--=============== JS ===============-->
    <script src="./../js/mail.js"></script>

</body>

</html>