<!DOCTYPE html>
<html>

<head>
  <!--=============== META ===============-->
  <meta charset="utf-8">
  <meta name="theme-color" content="#4285f4">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GHARA | Casa Uno</title>
  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" href="./../img/favicon.png" type="image/x-icon">
  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="./../css/productDetails.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
</head>

<body>

  <!--=============== CARD ===============-->
  <div class="card-wrapper">
    <div class="card">
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="./../img/sgi.jpg" alt="house image">
            <img src="./../img/sgi2.jpg" alt="house image">
            <img src="./../img/sgi3.jpg" alt="house image">
            <img src="./../img/sgi4.jpg" alt="house image">
          </div>
        </div>
        <div class="img-select">
          <div class="img-item">
            <a href="#" data-id="1">
              <img src="./../img/sgi.jpg" alt="house image">
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="2">
              <img src="./../img/sgi2.jpg" alt="house image">
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="3">
              <img src="./../img/sgi3.jpg" alt="house image">
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="4">
              <img src="./../img/sgi4.jpg" alt="house image">
            </a>
          </div>
        </div>
      </div>

      <div class="product-content">
        <!--=============== PRODUCT INFO ===============-->
        <h2 class="product-title">casa uno</h2>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>4.9(200)</span>
        </div>

        <div class="product-price">
          <p class="new-price">Precio: <span>$760,000.00</span></p>
        </div>

        <div class="product-detail">
          <h2>Acerca de esta casa: </h2>
          <p>Estancia super amplia, area de comedor grande, area de cocina, hermosa terraza, area de lavado, 4 recámaras
            (2 con baño c/u (una en planta baja)), family room, 3.5 baños, jardin, excelentes acabados, piso cerámico,
            textura fina en muros, techos altos, concepto moderno con excelente diseño en interiores, estacionamiento al
            frente para 4 autos.</p>
          <ul>
            <li>Cuartos: <span>3</span></li>
            <li>Baños: <span>2</span></li>
            <li>Espacio para coches: <span>4</span></li>
            <li>Jardin: <span>Si</span></li>
            <li>Terraza: <span>No</span></li>
          </ul>
        </div>

        <div class="purchase-info">
          <input type="number" min="0" value="1">
          <button type="button" class="btn">
            Añadir al carro <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
        <!--=============== SHARE ===============-->
        <div class="social-links">
          <p>Compartir en: </p>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
        <!--=============== SHARE ===============-->
      </div>
      <!--=============== PRODUCT INFO ===============-->
    </div>

  </div>
  <!--=============== CARD ===============-->
  <!--=============== FOOTER ===============-->
  <img class="ft" src="./../img/wave.svg" alt="">
  <!--=============== JS ===============-->
  <script src="./../js/productDetails.js"></script>
</body>

</html>