/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
}

.section{
    padding: 4.5rem 0 2rem;
    &__title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;

        & span{
            color: var(--second-color);
        }
    }
    &__subtitle{
        display: block;
        font-size: var(--small-font-size);
        color: var(--second-color);
    }
}

.main{
    overflow: hidden; /* For the animations */
}