/*=============== LOGOS ===============*/
.logos{
    &__container{
        padding-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;
        justify-items: center;
    }
    &__img img{
        height: 60px;
        opacity: .2;
        transition: .3s;

        &:hover{
            opacity: .6;
        }
    }
}