/*=============== SUBSCRIBE ===============*/
.subscribe{
    padding: 2.5rem 0;

    &__container{
        background-color: var(--first-color);
        padding: 3rem 2rem;
        border-radius: 1.25rem;
        border: 6px solid var(--first-color-light);
        text-align: center;
    }
    &__title{
        font-size: var(--h2-font-size);
        color: #fff;
        margin-bottom: 1rem;
    }
    &__description{
        color: hsl(228, 90%, 92%);
        font-size: var(--small-font-size);
        margin-bottom: 2rem;
    }
    &__button{
        border: 2px solid #fff;
        background: var(--first-color-light);
        font-size: var(--small-font-size);

        &:hover{
            background-color: var(--first-color);
        }
    }
}